<%= stylesheet_link_tag "user_index", "data-turbo-track": "reload" %>

<form>
    <h1><%= t ".account_info" %></h1>
    <table class="user_table">
        <tr>
            <td>
                <%= User.human_attribute_name(:username) %>
            </td>
            <td>
                <%= @user.name %>
            </td>
        </tr>
        <tr>
            <td>
                <%= User.human_attribute_name(:userid) %>
            </td>
            <td>
                <%= @user.userid %>
            </td>
        </tr>
        <tr>
            <td>
                <%= User.human_attribute_name(:password) %>
            </td>
            <td>
                *****
            </td>
        </tr>
    </table>
</form>

<%= form_with model: @user, url: user_path do |form| %>
    <h1><%= t ".setting" %></h1>
    <table class="user_table">
        <tr>
            <td>
                <%= User.human_attribute_name(:appearanceMode) %>
            </td>
            <td>
                <div class="selectButton">
                    <div data-value=0 class="selectButton_item <%= 'selected' if @user.appearanceMode==0 || !@user.appearanceMode %>">
                        <i class="bi bi-arrow-repeat"></i>
                    </div>
                    <div data-value=1 class="selectButton_item <%= 'selected' if @user.appearanceMode==1 %>">
                        <i class="bi bi-brightness-high"></i>
                    </div>
                    <div data-value=2 class="selectButton_item <%= 'selected' if @user.appearanceMode==2 %>">
                        <i class="bi bi-brightness-low-fill"></i>
                    </div>
                    <%= form.hidden_field :appearanceMode, value:@user.appearanceMode %>
                </div>
            </td>
        </tr>
    </table>
    <%= form.submit %>
<% end %>
