<%= stylesheet_link_tag "user_index", "data-turbo-track": "reload" %>

<div class="hflex">
    <h1>アカウント情報</h1>
</div>
<table class="user_table">
    <tr>
        <td>
            ユーザー名
        </td>
        <td>
            <%= @user.name %>
        </td>
    </tr>
    <tr>
        <td>
            ユーザーid
        </td>
        <td>
            <%= @user.userid %>
        </td>
    </tr>
    <tr>
        <td>
            パスワード
        </td>
        <td>
            *****
        </td>
    </tr>
</table>

<h1>設定</h1>

<%= form_with model: @user, url: user_path do |form| %>
<table class="user_table">
    <tr>
        <td>
            <%= form.label :appearanceMode, Character.human_attribute_name(:appearanceMode) %>
        </td>
        <td>
            <div class="selectButton">
                <div data-value=0 class="selectButton_item <%= 'selected' if @user.appearanceMode==0 %>">
                    <i class="bi bi-arrow-repeat"></i>
                </div>
                <div data-value=1 class="selectButton_item <%= 'selected' if @user.appearanceMode==1 %>">
                    <i class="bi bi-brightness-high"></i>
                </div>
                <div data-value=2 class="selectButton_item <%= 'selected' if @user.appearanceMode==2 %>">
                    <i class="bi bi-brightness-low-fill"></i>
                </div>
                <%= form.hidden_field :appearanceMode, value:@user.appearanceMode %>
            </div>
        </td>
    </tr>
</table>
<%= form.submit %>
<% end %>