<%= stylesheet_link_tag "schedule_index", "data-turbo-track": "reload" %>

<h1><%= t '.title' %> <%= @calendars[0].strftime('%y/%m') %></h1>
<div class="hflex date_controll_button">
    <%= button_to "＜", schedules_path(), params:{year: @month>1?@year:@year-1, month: @month>1?@month-1:@month+11}, method: :get %>
    <%= button_to t("schedules.new.title"), new_schedule_path(), params:{year: @year, month: @month}, method: :get, form:{style:"flex:1;"} %>
    <%= button_to "＞", schedules_path(), params:{year: @month<12?@year:@year+1, month: @month<12?@month+1:@month-11}, method: :get %>
</div>
<% if @calendars %>
    <table>
        <tr>
            <th><%= Schedule.human_attribute_name(:calendar) %></th>
            <% responses = {} %>
            <% schedules = @schedules.pluck(:name).uniq %>
            <% schedules.each do |schedule| %>
                <% responses[schedule]=@schedules.where(name: schedule).order(:date) %>
                <th><%= link_to schedule, edit_schedule_path(responses[schedule][0][:game_id], year:@year, month:@month) %></th>
            <% end %>
        </tr>
        <% i=0 %>
        <% @calendars.each do |date| %>
            <tr data-type="<%= 3 - schedules.reduce(3){ |sum,s| sum & responses[s][i][:response] } %>">
                <th><%= date.strftime('%m/%d') %><%= "(#{["日", "月", "火", "水", "木", "金", "土"][date.wday]})" %></th>
                <% schedules.each do |schedule| %>
                    <td data-type=<%= responses[schedule][i][:response] %>></td>
                <% end %>
                <% i+=1 %>
            </tr>
        <% end %>
    </table>
<% end %>