<%= form_with model: character, url: character[:id]?character_path(character):characters_path do |form| %>

    <div class="selectButton" id="select_ispc">
        <div class="selectButton_item <%= "selected" if character&.is_pc %>" data-value=true>
            <span>PC</span>
        </div>
        <div class="selectButton_item <%= "selected" if !character&.is_pc %>" data-value=false>
            <span>NPC</span>
        </div>
        <%= form.hidden_field :is_pc %>
    </div>
    <%= form.label :name, Character.human_attribute_name(:name) %>
    <%= form.text_field :name %>
    <%= form.label :pl_id, Character.human_attribute_name(:pl) %>
    <%= form.collection_select :pl_id, User.filtered_all.order(:name), :id, :name %>
    <%= form.label :nickname, Character.human_attribute_name(:nickname) %>

    <% character.nicknames.new %>
    <%= form.fields_for :nicknames do |nickname_form| %>
        <div class="nickname-fields">
            <%= nickname_form.hidden_field :id %>
            <%= nickname_form.text_field :name %>
        </div>
    <% end %>
    <%= form.file_field :images, multiple: true %>
    <% character.images.each do |image| %>
        <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
    <% end %>
    <%= form.submit %>
<% end %>

<div class="illust_container">
<% character.images.each do |image| %>
    <div class="illust">
        <%= button_to character_purge_path(character, image_id: image.id), {method: :post, class:"close"} do %>
            <i class="bi bi-x"></i>
        <% end %>
        <%= image_tag(image) %>
    </div>
<% end %>
</div>
