<%= stylesheet_link_tag "character", "data-turbo-track": "reload" %>
<h1><%= t '.title' %></h1>

<%= form_with model: @character, url: character_path(@character) do |form| %>
    <%= form.label :name, Character.human_attribute_name(:name) %>
    <%= form.text_field :name %>
    <%= form.label :pl_id, Character.human_attribute_name(:pl) %>
    <%= form.collection_select :pl_id, Pl.all.order(:name), :id, :name %>
    <%= form.file_field :images, multiple: true %>
    <%= form.submit %>
<% end %>

<% @character.images.each do |image| %>
    <div class="illust">
        <%= button_to "", character_purge_path(@character, image_id: image.id), {method: :post, class:"close"} %>
        <%= image_tag(image) %>
    </div>
<% end %>
