<h1><%= t '.title' %></h1>
<%= link_to t('characters.new.title'), new_character_path %>

<div class="hflex gap">

    <div>
        <h2><%= t 'activerecord.models.pc' %></h2>
        <table>
            <tr>
                <td>
                    <%= t 'activerecord.attributes.pc.name' %>
                </td>
                <td>
                    <%= t 'activerecord.attributes.pc.pl' %>
                </td>
                <td></td>
            </tr>
            <% @pc.each do |pc| %>
                <tr>
                    <td>
                        <%= pc.name %>
                    </td>
                    <td>
                        <%= pc.pl_name %>
                    </td>
                    <td>
                        <%= link_to edit_character_path(pc.id) do %>
                            <i class="bi bi-vector-pen"></i>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>

    <div>
        <h2><%= t 'activerecord.models.npc' %></h2>
        <table>
            <tr>
                <td>
                    <%= t 'activerecord.attributes.npc.name' %>
                </td>
                <td>
                    <%= t 'activerecord.attributes.npc.pl' %>
                </td>
                <td></td>
            </tr>
            <% @npc.each do |npc| %>
                <tr>
                    <td>
                        <%= npc.name %>
                    </td>
                    <td>
                        <%= npc.pl_name %>
                    </td>
                    <td>
                        <%= link_to edit_character_path(npc.id) do %>
                            <i class="bi bi-vector-pen"></i>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>

    <div>
        <h2><%= t 'activerecord.models.pl' %></h2>
        <table>
            <tr>
                <td>
                    <%= t 'activerecord.attributes.pl.name' %>
                </td>
            </tr>
            <% @pl.each do |pl| %>
                <tr>
                    <td>
                        <%= pl.name %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>

</div>