<h1><%= t '.title' %></h1>
<div class="xflex">
    <div>
        <h2><%= t(".pc") %></h2>
        <%= render "form", {character: Character.new(is_pc: true)} %>
    </div>
    
    <div>
        <h2><%= t(".npc") %></h2>
        <%= render "form", {character: Character.new(is_pc: false)} %>
    </div>

    <% if false %>
    <div>
        <h2><%= t(".pl") %></h2>
        <%= form_with model: @pl, url: characters_create_pl_path do |form| %>
            <%= form.label :name, Character.human_attribute_name(:name) %>
            <%= form.text_field :name %>
            <%= form.submit %>
        <% end %>
    </div>
    <% end %>
</div>