<%= stylesheet_link_tag "log_index", "data-turbo-track": "reload" %>

<h1><%= t '.title' %></h1>
<% if @logs %>

<div class="selectButton" id="select_logvisible">
    <div class="selectButton_item selected" data-value=true>
        <i class="bi bi-eye-fill"></i>
    </div>
    <div class="selectButton_item" data-value=false>
        <i class="bi bi-eye-slash"></i>
    </div>
    <input type="hidden" value=true>
</div>

<table class="pc_loglist">
    <tr>
        <th><%= Log.human_attribute_name(:name) %></th>
        <th><%= Log.human_attribute_name(:date) %></th>
        <th><%= Log.human_attribute_name(:gm) %></th>
        <th colspan=4><%= Log.human_attribute_name(:pc) %></th>
        <th></th>
    </tr>
    <% @logs.each do |log| %>
    <tr data-url="<%= log_path(log.id) %>" class="<%= log.hidden ? "hidden" : "visible" %>" style="view-transition-name:log_<%=log.id%>">
        <td><%= log.name %></td>
        <td><%= log.date %></td>
        <td><%= log.gm.name %></td>
        <% log.pcs.each do |pc| %>
            <td><%= pc.name %></td>
        <% end %>
        <% (4-log.pcs.size).times do %>
            <td></td>
        <% end %>
        <td>
            <%= link_to edit_log_path(log.id) do %>
                <i class="bi bi-vector-pen"></i>
            <% end %>
        </td>
    </tr>
    <% end %>
</table>

<ul class="sp_loglist table">
    <% @logs.each do |log| %>
    <li data-url="<%= log_path(log.id) %>" class="vflex <%= log.hidden ? "hidden" : "visible" %>" style="view-transition-name:log_<%=log.id%>">
        <div class="hflex" style="flex-grow:1;">
            <span class="log_name" style="flex:1">
                <%= log.name %>
            </span>
            <%= link_to edit_log_path(log.id) do %>
                <i class="bi bi-vector-pen"></i>
            <% end %>
        </div>
        <span class="log_member">
            <%= log.gm.name %> / 
            <% log.pcs.each do |pc| %>
                <%= pc.name.gsub(/\s/, "") %>
            <% end %>
        </span>
    </li>
    <% end %>
</ul>

<% else %>
    <p><%= t(".message") %></p>
<% end %>
<div style="display:none;">
    <%= form_with url: logs_pre_new_path, id: "dropFileForm", data: { target: "logs--index.form" } do |form| %>
        <%= form.file_field :file, data: { target: "logs--index.fileInput" } %>
        <%= form.submit %>
    <% end %>
</div>
