<h1><%= t '.title' %></h1>
<span><%= @filename %></span>
<%= form_with model: @log, url: logs_path do |form| %>
    <%= form.label :name, Log.human_attribute_name(:name) %>
    <%= form.text_field :name %>
    <%= form.label :date, Log.human_attribute_name(:date) %>
    <%= form.date_field :date %>
    <%= form.label :gm, Log.human_attribute_name(:gm) %>
    <%= form.collection_select :gm, User.filtered_all, :id, :name, include_blank: true %>
    <%= form.label :pc_ids, Log.human_attribute_name(:pc) %>
    <%= form.collection_select :pc_ids, Character.joins(:pl).where(is_pc: true).select("characters.*, users.name AS pl_name").order(:pl_name), :id, :name, {}, multiple: true %>
    <%= form.submit %>
<% end %>