<%= stylesheet_link_tag "preparing", "data-turbo-track": "reload" %>

<div class="mask">
    <span>準備中</span>
    <progress value="0" max=""></progress>
</div>

<div id="html_container">
    <template shadowrootmode="open">
        <%= raw ERB.new(File.open("#{Rails.public_path}/logfile/#{@id}.html").read).result(binding) %>
    </template>
</div>

<div style="display:none;">
    <%= form_with url: log_makejson_path(@id), id: "json_form" do |form| %>
        <%= form.text_area :json %>
    <% end %>
</div>

<script>
    window.addEventListener("DOMContentLoaded", () => {
        let data = {};
        data.version = "<%= @ver %>";
        data.body = [];
        const shadowRoot = document.getElementById("html_container").shadowRoot;
        const comments = shadowRoot.querySelectorAll("p");
        let progress = document.querySelector(".mask>progress");
        progress.max = comments.length;
        for (progress.value = 0; progress.value < progress.max; progress.value++) {
            console.log(comments[progress.value]);
            let comment = comments[progress.value];
            let temp = comment.querySelectorAll("span");
            let comment_data = {
                color: comment.style.color,
                tab: temp[0].textContent.match(/(?<=\[).+(?=\])/)[0],
                author: temp[1].textContent,
                content: temp[2].textContent.replace(/^\s+/mg, "").replace(/\n$/, "")
            }
            data.body.push(comment_data);
        }
        console.log(data)
        let form = document.getElementById("json_form");
        form.json.value = JSON.stringify(data);
        form.submit();
    })
</script>