<% content_for(:title, @log_content.log[:name]) %>
<%= stylesheet_link_tag "show", "data-turbo-track": "reload" %>

<div id="screen">
    <%= j @log_content[:content] %>
    <%= turbo_frame_tag "comment_container", style:"position:static" do %>
        <div id="backgrond"></div>
        <% img = Character.where("REPLACE(name, ' ', '') = ?", @log_content[:author].gsub(/\s+/, '')).exists? ? Character.find_by("REPLACE(name, ' ', '') = ?", @log_content[:author].gsub(/\s+/, '')).images[0] : nil %>
        <% img ||= Nickname.where("REPLACE(name, ' ', '') = ?", @log_content[:author].gsub(/\s+/, '')).exists? ? Nickname.find_by("REPLACE(name, ' ', '') = ?", @log_content[:author].gsub(/\s+/, '')).character.images[0] : nil %>
        <%= image_tag img||"", id:"imageL" %>
        <img src="" id="imageR">

        <div id="mask"></div>
        <div id="show-button-back" class="show-button" <%= Log.find(@id).log_contents.exists?(index: @page.to_i-1) ? "data-url=#{log_path(@id,page: @page.to_i-1)}" : "" %>></div>
        <div data-url="<%= (Log.find(@id).log_contents.exists?(index: @page.to_i+1) ? log_path(@id,page: @page.to_i+1) : logs_path) %>" id="comment" tab="<%= @log_content[:tab] %>" style="--color: <%= @log_content[:color] %>">
            <div id="comment_name">
                <span><%= @log_content[:author] %></span>
            </div>
            <div id="comment_content">
                <p></p>
            </div>
        </div>

        <script>
            feed_text = `<%= j @log_content[:content] %>`;
        </script>
    <% end %>
</div>


<script>
    window.textfeed = () =>{
        console.log(feed_text);
        document.querySelector("#comment_content>p").innerHTML="";        
        let inter = setInterval(() => {
            
            if(!!feed_text){
                let char;
                if(/^&.+?;/.test(feed_text)){
                    char = feed_text.match(/^&.+?;/)[0];
                    feed_text = feed_text.replace(/^&.+?;/, "");
                }else{
                    char = feed_text.slice(0,1);
                    feed_text = feed_text.slice(1);
                }
                document.querySelector("#comment_content>p").innerHTML += char === "\n" ? "<br>" : char;
            }else{
                clearInterval(inter);
            }
        }, 15);
        document.addEventListener("turbo:before-visit", ()=>{
            document.querySelector("#comment_content>p").innerHTML="";        
            clearInterval(inter);
        }, {once: true})
    }
    textfeed();
    if(!window.feedsetting){
        window.feedsetting=true;
        document.addEventListener("turbo:frame-load", textfeed);
    }
</script>