<%= stylesheet_link_tag "show", "data-turbo-track": "reload" %>

<div id="screen">
    <div id="backgrond"></div>
    <img src="" id="imageL">
    <img src="" id="imageR">
    <div id="mask"></div>
    <div id="comment" tab="<%= @log_content[:tab] %>" style="--color: <%= @log_content[:color] %>" onclick="(()=>{location.href='<%= log_path(@id,page: @page.to_i+1) %>'})()">
        <span id="comment_name"><%= @log_content[:author] %></span>
        <span id="comment_content"><%= raw @log_content[:content].gsub("\n","<br>") %></span>
    </div>
</div>
