<% content_for(:title, @log_content.log[:name]) %>
<%= stylesheet_link_tag "show", "data-turbo-track": "reload" %>

<div id="screen">
    <div id="backgrond"></div>
    <% img = Character.find_by("name like ?", @log_content[:author]) ? Character.find_by("name like '#{@log_content[:author]}%'").images[0] : nil %>
    <% img ||= Nickname.find_by("name like ?", @log_content[:author]) ? Nickname.find_by("name like '#{@log_content[:author]}%'").character.images[0] : "" %>
    <%= image_tag img, id:"imageL" %>
    <img src="" id="imageR">

    <div id="mask"></div>
    <%= link_to log_path(@id,page: @page.to_i+1), {id:"comment", tab:@log_content[:tab], style:"--color: #{@log_content[:color]}", draggable:false, data: { turbo_prefetch: false }} do %>
        <div id="comment_name">
            <span><%= @log_content[:author] %></span>
        </div>
        <div id="comment_content">
            <p></p>
        </div>
    <% end %>

    <script>
        hidden = `<%= j @log_content[:content] %>`
        
        inter = setInterval(() => {
            if(hidden){
                let char;
                if(/^&.+?;/.test(hidden)){
                    char = hidden.match(/^&.+?;/)[0];
                    hidden = hidden.replace(/^&.+?;/, "");
                }else{
                    char = hidden.slice(0,1);
                    hidden = hidden.slice(1);
                }
                document.querySelector("#comment_content>p").innerHTML += char === "\n" ? "<br>" : char;
            }else{
                clearInterval(inter);
            }
        }, 15);
    </script>
</div>
